-e git+https://github.com/NextThought/nti.base.git@master#egg=nti.base
-e git+https://github.com/NextThought/nti.mimetype.git@master#egg=mimetype
-e git+https://github.com/NextThought/nti.plone.namedfile.git@master#egg=nti.plone.namedfile
